@media screen and (max-width: 320px) {

* {
    margin: 0px;
    padding: 0px;
}

header{
    max-width: 100%;
}

.navbar-nav{
    align-items: center;
    background-color: $dropdown-color;
    width: 100%;       
}

.nav-link{
    color: $color-letra-principal;
}

.nav-item{
    font-size: 15px;
}

.margen-top{
    padding-top: 50%;
}

.logo{
    width: 100px;
}

.catbazar{
    width: 49%;
}

.parrafo{
    width: 100%
}

.parrafo__titulo{
    margin: -19px;
    margin-bottom: 21px;
    font-size: 157%;
}

.parrafo__texto{
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 0px;
    font-size: 14px;
}


.parrafo__button {
    margin-top: 10px;
    font-size: 10px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    width: 100%;
}

.enlace{
    font-size: 12px;
}

.flecha {
    width: 53px;
    height: 52px;
    background-color: #efefef;
    padding: 13px;
    padding-left: 5px;
}

.menuInferior__contenedor--contenedor{
    width: 100%;
    margin-top: 12%;
    margin-left: 0px;}

.menuInferior__contenedor{
    width: 100%;
}


.catbazar  {
    width: 32%;
}

.container_video{
    width: 100%;
}

.carousel{
    width: 100%;
    height:auto;
    margin-top: -18%;
}

.carousel_container{
    width: 100%;
}

.imagenesCarrousel{
    display:none !important;
}

.imagenesCarrousel{
    margin-top: 131%;
    margin-left: 13%
}

.title__follow{
    padding-top: -8px;
    font-size: 22px;
}

.text__follow{
    font-size: 11px;
    margin-bottom: 22px;
}

.container__logos{
    padding-bottom: 12px;
}

.container__rrss{
    width: 100%;
}

.container__img{
    margin-left: 10%; 
}

.img__rrss{
    margin-top: -30px;
    width: 42%;
    padding-top: 32px;
}

.col-4-sm{
    width: 31%;
}

.conteiner {
    width: 100%;
}

.container__footer{
    width: 595px;
}

.categorias__container{
    width: 100%;
    padding-top: 37%;
}

.container__text--follow{
    font-size: 28px;
    padding-top: 46px;
}

.breadcrumb__container{
    margin-left: -42%;
}

.products__container{
    width: 100%;
    padding-left: 30px;
}
.breadcrumb__container{
    width: 100%;
}

.breadcrumb{
    margin-left: 31%;
}

.fotoProducto{
    width: 90%;
}

.button__add{
    width: 100%;
}

.video__sabana{
    width: 90%;
}

.video__sabana--item{
    width:90%;
}

.video__sabana--bazar{
    width: 100%;
}

.button__add--video{
    width: 100%;
}

.container__footer-box{
    width: 100%;
}

.container__suscripcion{
    margin-top: -10px;
    width: 100%;
    text-align: center;
}

.texto__suscribite{
    width: 93%;
    margin-right:0px;
}

.py-4{
    margin-bottom: 0px;
}

.py-5 {
    padding-top: 3rem!important;
    padding-bottom:0px;
}

.container{
    width: 100%;
}

.caja__menu{
    width: 100%;
}

.btn__suscripcion{
    margin-left:0px;
}

.text__suscripcion{
    font-size: 26px;
}

.container__text{
    font-size: 38px;
    padding-top: 42px;
    padding-bottom: 10px;
}

.title_video-item{
    padding-left:18px;
}

.formcontact{
    width: 90%;
    margin-left: 5%;
}

#form{
    width: 90%;
    margin-left: 5%;
}

#message{
    width: 90%; 
    margin-left: 5%;
}

#submit{
    width: 90%;
    margin-left: 5%;
}

}

@media screen and (max-width:480px) {

.imagenesCarousel{
    display:none !important;
}

.opacidad{
    width: 42%;
}

.categorias__container{
    padding-top: 31% !important;
}

#form{
    width: 80%;
}
.formcontact{
    width: 100%;
}

#message{
    width: 100%;
}

#submit{
    width: 100%;
}
}


/* ------- TAMAÑO TABLET MINI ---------- */

@media screen and (max-width:768px) {

    .imagenesCarrousel{
        display:none !important;
    }

    .parrafo{
    width: 100%;
    margin-bottom: 20px;
    }

    .caja__menu{
        width: 33%;
    }

    .suscripcion{
        width: 58%;
        margin-left: 20%;
    }

    .btn__suscripcion{
        margin-left: -3px;
    }

    .navbar-nav{
        align-items: center;
        background-color: $dropdown-color;
        width: 100%;
    }

    .categorias__container{
        padding-top: 20%;
    }

    .video__sabana{
        width: 47%;
    }

    .button__add--video{
        width: 100%;
    }
    
    .fotoProducto{
        width: 47%;
    }

    .container__img{
        margin-left: 9%;
    }

    #form{
        margin-bottom: 20px;
    }

}