$color-principal: #9f836f;
$color-secundario: #efefef;
$color-tercero: white;
$color-fondo-header: #fff;


$letra-principal:'Work Sans', sans-serif;
$letra-secundaria:'Playfair Display', serif;
$letra-tercera: 'Raleway', sans-serif;
$letra-cuarta: 'Palanquin', sans-serif;
$letra-quinta: 'Roboto', sans-serif;


$color-letra-principal: #626060;
$color-letra-secundario: #9f836f;
$color-letra-tercero: white;
$color-letra-cuarto: black;

$dropdown-color: #b3aca7;